#waybar.top {
  background: none;
  color: #f2f2f2;
}
#waybar.top > box.horizontal {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 2pt;
}

#custom-vpn {
  color: #7cd47b;
  margin-right: 10pt;
}

#custom-temperature {
  margin-right: 10pt;
}

#custom-bluetooth {
  color: #0082fc;
  margin-right: 10pt;
  font-size: 11pt;
}

#workspaces {
  margin-left: 4pt;
}
/* #workspaces button { */
/*   color: #585b70; */
/* } */
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
/* #workspaces button.visible { */
/*   color: #89b4fa; */
/* } */
/* #workspaces button.active { */
/*   color: #f38ba8; */
/* } */
#workspaces button:hover,
#workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
/* #workspaces button:hover:not(.active):not(.visible), */
/* #workspaces button:focus:not(.active):not(.visible) { */
/*   color: #9399b2; */
/* } */

#custom-servers {
  background: #222222;
  color: #f2f2f2;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#mpris {
  background: #222222;
  color: #a6e3a1;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
}

#memory {
  color: #fab387;
  margin-right: 12pt;
}

#disk {
  color: #28c9af;
  margin-right: 12pt;
}

#clock {
  margin-right: 6pt;
}

#cpu {
  color: #fa8787;
  margin-right: 12pt;
}

#custom-weather {
  color: #fff9a7;
  margin-right: 15pt;
}

#tray {
  margin-right: 10pt;
}
#tray menu {
  background: #222222;
  padding: 2pt;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

#language {
  margin-right: 10pt;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #cdd6f4;
  }
}

#pulseaudio {
  color: #74c7ec;
  margin-right: 10pt;
}

#custom-color-picker {
  margin-left: 6pt;
  margin-right: 6pt;
  font-size: 10pt;
}

#custom-swaync {
  margin-left: 6pt;
  margin-right: 6pt;
  font-size: 10pt;
}

#custom-power {
  margin-left: 6pt;
  margin-right: 11pt;
  font-size: 10pt;
}

#waybar.bottom {
  background: none;
}
#waybar.bottom box.modules-center {
  background: #222222;
  margin-top: 5pt;
  padding: 0 4pt;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  box-shadow: 0 0 3pt #181825;
}

#custom-file-manager {
  background: transparent;
  background-image: url("icons/file-manager.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-terminal {
  background: transparent;
  background-image: url("icons/terminal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-zen {
  background: transparent;
  background-image: url("icons/zen.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-spotify {
  background: transparent;
  background-image: url("icons/spotify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 1pt;
}

#custom-obs-studio {
  background: transparent;
  background-image: url("icons/obs-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-telegram {
  background: transparent;
  background-image: url("icons/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-whatsapp {
  background: transparent;
  background-image: url("icons/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-adobe-photoshop {
  background: transparent;
  background-image: url("icons/adobe-photoshop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-gimp {
  background: transparent;
  background-image: url("icons/gimp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-pinta {
  background: transparent;
  background-image: url("icons/pinta.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-inkscape {
  background: transparent;
  background-image: url("icons/inkscape.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-davinci-resolve {
  background: transparent;
  background-image: url("icons/davinci-resolve.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-heroic {
  background: transparent;
  background-image: url("icons/heroic.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-ryujinx {
  background: transparent;
  background-image: url("icons/ryujinx.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-lutris {
  background: transparent;
  background-image: url("icons/lutris.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obsidian {
  background: transparent;
  background-image: url("icons/obsidian.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-unity {
  background: transparent;
  background-image: url("icons/unity.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-rider {
  background: transparent;
  background-image: url("icons/jetbrains-rider.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-idea {
  background: transparent;
  background-image: url("icons/jetbrains-idea.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-pycharm {
  background: transparent;
  background-image: url("icons/jetbrains-pycharm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-jetbrains-webstorm {
  background: transparent;
  background-image: url("icons/jetbrains-webstorm.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-neovim {
  background: transparent;
  background-image: url("icons/neovim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-vs-code {
  background: transparent;
  background-image: url("icons/vs-code.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-docker {
  background: transparent;
  background-image: url("icons/docker.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-beekeeper-studio {
  background: transparent;
  background-image: url("icons/beekeeper-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-excalidraw {
  background: transparent;
  background-image: url("icons/excalidraw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-figma {
  background: transparent;
  background-image: url("icons/figma.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-bruno {
  background: transparent;
  background-image: url("icons/bruno.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-calculator {
  background: transparent;
  background-image: url("icons/calculator.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-anki {
  background: transparent;
  background-image: url("icons/anki.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
  font-family: "JetBrainsMono Nerd Font";
}

tooltip {
  background: #222222;
  color: #cdd6f4;
  border-radius: 5pt;
}

/*# sourceMappingURL=style.css.map */
