//@theme "/home/vremyavnikuda/.config/rofi/themes/spotlight-dark.rasi"
//@theme "/home/vremyavnikuda/.config/rofi/themes/spotlight-dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
@theme "/home/vremyavnikuda/.config/rofi/themes/spotlight-dark.rasi"
